@import url('https://fonts.googleapis.com/css2?family=Fredoka:wght@300;400;500;600&family=Mukta:wght@200;300;400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@300;400;500;600;700;800&display=swap');
:root {
    --body: white;
    --sidebar-main: #fff;
    --sidebar-secondary: #fff;
    --main-font-color: #fff;
    --secondary-font-color: #fff;
    --section-title-color: #fff;
    --section-border-color: #fff;
    --menu-bar-border: #fff;
    --status-font-color: #fff;
    --message-box: #fff;
    --save-settings-button-border: #fff;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Rubik", sans-serif;
}

body {
    margin: 0;
    padding: 0;
    background-color: var(--body);
}


/* ================================================================ */

.wrapper {
    display: flex;
    position: fixed;
    width: 100%;
    height: 100%;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
}


/* ================================================================ */


/* ================================================================ */

.settings-wrapper {
    display: none;
    width: 100%;
    height: 100%;
    justify-content: center;
    flex-wrap: nowrap;
    flex-direction: row;
    animation: anim-lineUp 0.6s ease-out;
    overflow: auto;
}

.settings-view {
    display: flex;
    flex-direction: column;
    margin-top: 20px;
    height: 100%;
    width: 450px;
}

.settings-shortcuts {
    display: none;
    flex-direction: row;
    width: 100%;
    height: 200px;
    justify-content: center;
    align-items: center;
    gap: 30px;
}

.settings-area {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 40px;
    height: auto;
    scrollbar-width: thin;
}

.settings-section-title {
    color: var(--section-title-color);
    margin-bottom: 15px;
    font-weight: 600;
    text-transform: uppercase;
    font-size: 0.7rem;
}

.settings-section-content {
    display: flex;
    flex-direction: column;
    height: auto;
}

.settings-item {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    height: 50px;
    align-items: center;
    border-top: 1px solid var(--section-border-color);
}

.settings-item:hover {
    animation: settings-item-border 0.1s forwards;
}

.settings-item-title {
    font-weight: 500;
}

.settings-submit-btn {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    height: auto;
    padding-top: 20px;
    padding-bottom: 10px;
}

.settings-submit-btn img {
    height: 20px;
    width: 20px;
    margin-left: 5px;
}

.settings-submit-btn button {
    display: flex;
    height: 40px;
    padding: 5px 30px;
    background: none;
    cursor: pointer;
    outline: none;
    border-radius: 0;
    border: none;
    font-weight: 500;
    text-align: center;
    justify-content: center;
    align-items: center;
    color: var(--main-font-color);
}

.settings-submit-btn button:hover {
    background-color: var(--secondary-font-color);
    text-decoration: underline;
    animation: 0.15s submit-btn-border forwards;
}


/* ================================================================ */


/* ================================================================ */

.sidebar {
    display: flex;
    flex-direction: column;
    width: 30rem;
    min-width: 20rem;
    height: 100%;
    background-color: var(--sidebar-main);
}

.sidebar-item {
    display: flex;
    width: 100%;
    color: var(--secondary-font-color);
    height: auto;
}

#sidebar-top {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 7rem;
    border: 1px solid var(--sidebar-secondary);
}

#sidebar-top img {
    height: 47px;
    width: 47px;
    border-radius: 50%;
}

.sidebar-top-profile {
    display: flex;
    flex-direction: row;
    padding-left: 10px;
    align-items: center;
    width: 100%;
    height: 7rem;
}

.sidebar-profile-text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: auto;
    padding-left: 10px;
}

.sidebar-profile-text-column {
    display: flex;
    vertical-align: bottom;
    align-items: center;
    width: 100px;
    text-overflow: ellipsis;
}

.sidebar-profile-username {
    width: 90px;
    font-size: 1rem;
    font-weight: 500;
    text-overflow: ellipsis;
}

.sidebar-profile-status {
    font-weight: 400;
    font-size: 0.65rem;
    color: grey;
}

.sidebar-edit-profile {
    height: 2rem;
    width: 100%;
}

#sidebar-edit-profile {
    outline: none;
    background: none;
    border: none;
    cursor: pointer;
    color: var(--secondary-font-color);
    font-size: 0.65rem;
    font-weight: 400;
    border: 1px solid var(--sidebar-secondary);
    padding: 4px 9px;
}

#sidebar-edit-profile:hover {
    text-decoration: underline;
    background-color: var(--sidebar-secondary);
}

#sidebar-button-menu {
    display: flex;
    justify-content: center;
    height: 45px;
    font-weight: 400;
    font-size: 1rem;
}

#sidebar-button-menu button {
    display: block;
    width: 100%;
    height: 45px;
    background: none;
    cursor: pointer;
    outline: none;
    border-radius: 0;
    color: var(--sidebar-secondary);
    border: none;
    border-right: 1px solid var(--sidebar-secondary);
    border-bottom: 1px solid var(--sidebar-secondary);
}

#sidebar-button-menu button:hover {
    text-decoration: underline;
    background-color: var(--sidebar-secondary);
}

#sidebar-contacts {
    display: grid;
    grid-template-rows: auto;
    height: auto;
    width: 100%;
    overflow: auto;
}

.sidebar-contact {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-left: 10px;
    height: 60px;
    width: 100%;
    overflow: hidden;
    border-bottom: 1px solid var(--sidebar-secondary);
}

.sidebar-contact:hover {
    background-color: var(--sidebar-secondary);
    cursor: pointer;
}

#sidebar-contacts img {
    height: 42px;
    width: 42px;
    border-radius: 50%;
}

.sidebar-contact-user-area {
    display: flex;
    flex-direction: column;
    width: 180px;
    padding-left: 12px;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}

.sidebar-contact-user-area img svg {
    height: 8;
    width: 8;
}

.sidebar-contact-info {
    display: flex;
    align-items: center;
    text-overflow: ellipsis;
}

.sidebar-dots {
    display: none;
    align-items: center;
    margin-right: 10px;
    animation: 0.4s anim-lineUp forwards;
}

#sidebar-contact-username {
    font-size: 0.8rem;
    font-weight: 400;
}

#sidebar-contact-status {
    font-size: 0.6rem;
    color: var(--status-font-color);
}

#sidebar-contact-dots {
    border: 0;
    background: none;
    cursor: pointer;
    outline: none;
}

#sidebar-contact-dots img {
    height: 15px;
    width: 15px;
    filter: invert(100%) sepia(0%) saturate(1%) hue-rotate(345deg) brightness(101%) contrast(101%);
}


/* ================================================================ */


/* ================================================================ */

.main-view {
    display: flex;
    align-items: center;
    background-color: var(--body);
    width: 100%;
    flex-direction: column;
}

.menu-bar {
    display: flex;
    flex-direction: row;
    height: 40px;
    justify-content: flex-end;
    align-items: center;
    width: 100%;
    color: var(--font-color);
    box-shadow: 0px 0px 5px #888;
    animation: 0.3s anim-lineUp forwards;
}

.main-bar-item button {
    display: block;
    height: 40px;
    padding: 5px 30px;
    background: none;
    cursor: pointer;
    outline: none;
    border-radius: 0;
    border: none;
    font-weight: 500;
    text-align: center;
    align-items: center;
    color: var(--main-font-color)
}

.main-bar-item button:hover {
    text-decoration: underline;
    animation: 0.2s menubar-border forwards;
}

.main-bar-item img {
    height: 25px;
    width: 25px;
    fill: var(--main-font-color)
}


/* ================================================================ */


/* ================================================================ */

.dashboardView {
    display: flex;
    flex-direction: row;
    height: 100%;
    width: 100%;
    justify-content: center;
    animation: anim-lineUp 0.6s forwards;
}

.dashboard-content {
    display: flex;
    flex-direction: column;
    height: 100vh;
    width: 700px;
    align-items: center;
    justify-content: center;
}

.dashboard-content img {
    height: auto;
    width: 500px;
}


/* ================================================================ */


/* ================================================================ */

.pending-requests-view {
    display: none;
    width: 100%;
    height: 100%;
    justify-content: center;
    flex-wrap: nowrap;
    flex-direction: row;
    animation: anim-lineUp 0.6s ease-out;
    overflow: scroll;
}

.pending-requests-wrapper {
    display: flex;
    flex-direction: column;
    align-content: center;
    width: 450px;
    height: auto;
}

.pending-requests-title {
    color: var(--section-title-color);
    margin-bottom: 15px;
    font-weight: 600;
    text-transform: uppercase;
    font-size: 0.7rem;
    margin-top: 15px;
}

.pending-requests {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    height: auto;
}

.pending-request-contact {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    border-top: 1px solid var(--section-border-color);
    padding-top: 10px;
    padding-bottom: 10px;
}

.pending-request-contact img {
    height: 45px;
    width: 45px;
}

.pending-request-contact-info {
    display: flex;
    flex-direction: column;
    margin-left: 10px;
    width: 200px;
}

.pending-request-contact-username {
    display: block;
    font-weight: 500;
}

.pending-request-contact-status {
    display: block;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    color: black;
    font-weight: 400;
    font-size: 0.7rem;
    width: 200px;
}

.start {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.end img {
    height: 32px;
    width: 32px;
}

.end button {
    border: none;
    border-radius: 50%;
    background: none;
    outline: none;
    cursor: pointer;
    align-items: center;
}


/* ================================================================ */


/* ================================================================ */

.send-request-view {
    display: none;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: 100%;
    animation: anim-lineUp 0.6s ease-out;
}

.request-button-area {
    display: flex;
    margin-top: 15px;
    flex-direction: column;
    width: 450px;
    height: 100%;
    gap: 20px;
}

.request-description {
    height: auto;
    display: flex;
    flex-direction: column;
}

.request-description h1 {
    color: var(--section-title-color);
    margin-bottom: 5px;
    font-weight: 600;
    text-transform: uppercase;
    font-size: 0.8rem;
}

.request-description span {
    color: var(--main-font-color);
    margin-bottom: 10px;
    font-weight: 500;
    font-size: 0.75rem;
}

.request-matching-server {
    height: auto;
    width: 100%;
}

.friend-request-input {
    width: 400px;
    height: 40px;
    padding: 5px 15px;
}

.friend-request-input::placeholder {
    color: var(--main-font-color);
    font-weight: 500;
    font-size: 0.7rem;
}

.friend-request-submit {
    margin-left: -160px;
    outline: none;
    border: none;
    height: 30px;
    font-weight: 500;
    padding: 5px 20px;
    font-size: 0.7rem;
    border-radius: 4px;
    cursor: pointer;
}

.request-manual {
    display: flex;
    flex-direction: column;
}

.request-manual img {
    height: 16px;
    width: 16px;
    margin-right: 10px;
}

#expandRequestManual {
    display: flex;
    outline: none;
    border: none;
    background: none;
    text-align: center;
    cursor: pointer;
    border-radius: 0;
    margin-bottom: 10px;
}

#expandRequestManual:hover {
    text-decoration: underline;
}

#addFriendFormIP {
    display: none;
    animation: 0.6s anim-lineDown forwards;
}


/* ================================================================ */


/* ================================================================ */

.messaging-screen {
    display: none;
    width: 100%;
    height: 100%;
    animation: 0.3s anim-lineUp forwards;
    flex-direction: column;
}

#messagingScreenMenuBar {
    justify-content: flex-start;
    color: black;
    gap: 15px;
    height: 50px;
}

#messagingScreenMenuBar button {
    padding: 5px 15px;
    height: 50px;
}

#messagingScreenProfilePhoto img {
    height: 40px;
    width: 40px;
    border-radius: 50%;
}

.messaging-screen-contact-info {
    display: flex;
    flex-direction: column;
    width: 350px;
    height: 40px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    justify-content: center;
    margin-left: -10px;
}

.messaging-screen-contact-info h1 {
    font-weight: 500;
    font-size: 0.9rem;
    color: var(--main-font-color)
}

.messaging-screen-contact-info p {
    display: block;
    font-weight: 400;
    font-size: 0.7rem;
    text-overflow: ellipsis;
    color: var(--main-font-color)
}

.message-history {
    display: flex;
    flex-direction: column;
    flex: 2;
    overflow: auto;
}

.message {
    display: flex;
    flex-direction: row;
    height: 60px;
    align-items: center;
    border-top: 1px solid var(--secondary-font-color);
}

.message:hover {
    background-color: var(--secondary-font-color);
}

.message-section {
    display: flex;
    flex-direction: column;
    margin-left: 16px;
    height: 60px;
    justify-content: center;
    width: 600px;
}

.message-section h2 {
    font-weight: 500;
    font-size: 1rem;
    color: var(--main-font-color)
}

.message-section p {
    color: var(--main-font-color)
}

.message img {
    height: 45px;
    width: 45px;
    margin-left: 25px;
}

.lower-bar {
    display: flex;
    flex-direction: row;
    height: 60px;
    width: 100%;
    justify-content: center;
    align-items: center;
}

.messaging-area {
    display: flex;
    flex-direction: row;
    width: 95%;
    justify-content: center;
}

.messaging-area input {
    display: block;
    outline: none;
    width: 100%;
    height: 45px;
    padding: 5px 15px;
    border-radius: 15px;
    border: none;
    background-color: var(--message-box);
}

.messaging-field-buttons {
    display: flex;
    flex-direction: row;
    margin-left: -70px;
    gap: 10px;
}

.messaging-field-buttons button {
    background: none;
    outline: none;
    border: none;
    cursor: pointer;
    height: 45px;
}


/* ================================================================ */


/* ================================================================ */

@keyframes menubar-border {
    0% {
        border-bottom: 0px solid var(--menu-bar-border);
    }
    100% {
        border-bottom: 3px solid var(--menu-bar-border);
    }
}

@keyframes settings-item-border {
    0% {
        border-bottom: 0px solid var(--menu-bar-border);
    }
    100% {
        border-bottom: 1px solid var(--menu-bar-border);
    }
}

@keyframes submit-btn-border {
    0% {
        border-bottom: 0px solid var(--save-settings-button-border);
    }
    100% {
        border-bottom: 2px solid var(--save-settings-button-border);
    }
}

@keyframes anim-lineUp {
    0% {
        opacity: 0;
        transform: translateY(80%);
    }
    20% {
        opacity: 0;
    }
    50% {
        opacity: 1;
        transform: translateY(0%);
    }
    100% {
        opacity: 1;
        transform: translateY(0%);
    }
}

@keyframes anim-lineDown {
    0% {
        opacity: 0;
        transform: translateY(-80%);
    }
    20% {
        opacity: 0;
    }
    50% {
        opacity: 1;
        transform: translateY(0%);
    }
    100% {
        opacity: 1;
        transform: translateY(0%);
    }
}


/* ================================================================ */