@import url('https://fonts.googleapis.com/css2?family=Fredoka:wght@300;400;500;600&family=Mukta:wght@200;300;400;500;600;700&display=swap');
:root {
    --body: white;
    --sidebar: #3F0E40;
    --button-hover: #552661;
    --font-color: white;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Fredoka", "Mukta", open-sans;
}

body {
    margin: 0;
    padding: 0;
    background-color: var(--body);
}

.sidebar {
    display: flex;
    flex-direction: column;
    flex-shrink: inherit;
    position: absolute;
    width: 20rem;
    height: 100%;
    background-color: var(--sidebar);
}

.sidebar-item {
    display: flex;
    width: 100%;
    color: var(--font-color);
    height: auto;
}

#sidebar-top {
    align-items: center;
    height: 7rem;
    font-weight: 500;
    font-size: 1rem;
    border: 1px solid var(--button-hover);
}

#sidebar-top img {
    height: 47px;
    width: 47px;
}

.sidebar-top-section {
    display: inline-flex;
    padding-left: 10px;
    align-items: center;
    width: 100%;
    height: 7rem;
}

.sidebar-top-user-area {
    display: grid;
    width: 100px;
    padding-left: 10px;
}

#sidebar-top-activity {
    font-weight: 400;
    font-size: 12px;
}

#sidebar-button-menu {
    display: flex;
    justify-content: center;
    height: 50px;
    font-weight: 600;
    font-size: 1rem;
}

#sidebar-button-menu button {
    display: block;
    width: 100%;
    height: 50px;
    background: none;
    cursor: pointer;
    outline: none;
    border-radius: 0;
    color: var(--font-color);
    font-weight: 500;
    border: none;
    border-right: 1px solid var(--button-hover);
    border-bottom: 1px solid var(--button-hover);
}

#sidebar-button-menu button:hover {
    text-decoration: underline;
    background-color: var(--button-hover);
}

#sidebar-contacts {
    display: grid;
    grid-template-rows: 1fr;
    height: auto;
    width: 100%;
    overflow: scroll;
}

.sidebar-contact {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding-left: 10px;
    height: 50px;
}

.sidebar-contact:hover {
    background-color: var(--button-hover);
}

#sidebar-contacts img {
    height: 30px;
    width: 30px;
    border-radius: 50%;
}

.sidebar-contact-user-area {
    display: grid;
    width: 100px;
    padding-left: 12px;
}

.sidebar-contact-user-area img svg {
    height: 8;
    width: 8;
}

#sidebar-contact-username {
    font-size: 0.8rem;
}

#sidebar-contact-status {
    font-size: 0.6rem;
}

#sidebar-contact-dots {
    border: 0;
    background: none;
    cursor: pointer;
    outline: none;
    margin-left: 150px;
}

#sidebar-contact-dots img {
    height: 15px;
    width: 15px;
    filter: invert(100%) sepia(0%) saturate(1%) hue-rotate(345deg) brightness(101%) contrast(101%);
}